

<% if !@application %>
  <h1>This Application does not exist, or you do not have permission to view it.</h1>
<% else %>
  <% @page_title = "#{@application.name} - DoTell" %>
  <h1><%= @application.name %></h1>
  <p><%= @application.url %></p>
  <br>
  <% if @event_counts.any? %>
    <%= render partial: 'event_display', locals: { event_counts: @event_counts } %>
  <% else %>
    <h3>This application has no events associated with it.</h3>
  <% end %>

  <!-- additional content will go here... -->

  <%= link_to "Delete Registered Application", application_path(@application), class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure you want to permanently delete this application?" } %>
<% end %>
