<h1>DoTell</h1>
<p>An analytics service and reporting tool to track events on websites</p>
<br>
<div class="container">
  <img src="https://raw.githubusercontent.com/jeffminnear/do-tell/switch-to-pg/app/assets/images/do-tell-faker-1.png" />
</div>
